#! /usr/bin/python
# -*- coding: utf-8 -*-
# @author izhangxm
# Copyright 2017 izhangxm@gmail.com. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ==============================================================================
from multiprocessing import Lock, Manager,Value
from cofco_b import settings
import os
import re
import json
from cofcoAPP.heplers import Logger

SPIDERS_STATUS = {} # 所有爬虫状态表

SCREEN_PRINT_LOCK = Lock() # 屏幕输出锁
LOG_FILE_LOCK = Lock()  # 日志写入锁
logfile = os.path.join(settings.BASE_DIR,'cofcoAPP','logs','spiderlog.txt')

logger = Logger(fp_locker=LOG_FILE_LOCK, file_path=logfile, screen_locker=SCREEN_PRINT_LOCK)
# 定义状态名称
STATUS_NAME = {-2:'失败', -1: '未初始化', 0: '未运行', 1: '运行中', 2: '已暂停', 3:'已完成', 4:'已终止', 5:'混合状态',6:'等待更新cookie'}

default_ids_thread_num = 4  # ids线程个数
default_content_process_num = 1  # Content进程个数
default_content_thread_num = 4  # 每个Content进程的线程个数

ids_max_retry_times = 10
content_max_retry_times = 10
default_timeout = 6
default_verify = True

default_use_proxy=True
default_proxy_ips_list=[]
opt_headers = {}
default_proxy_pool_url = ''

# pubmed
default_pubmed_pagesize = 20

# science direct
default_science_pagesize = 25

# 中科院分区表
journal_kw_id = '-999'
journal_year = '2018'
read_cached = True

# websocket
connected = Value('i',0)
channel_name = 'view_spider_log'
group_name = 'group_%s' % channel_name
